<h1>Login</h1>
<h2>Ingrese su nombre</h2>
<form action="/login" method="POST">
    <label for="nombre"class="form-label">Nombre</label>
    <input name="nombre" class="form-control" type="text"style="width: auto">
    <input class="btn btn-primary" type="submit" value="Enviar">
</form>
<br>
{{!-- <a href="/login">
    <button>Enviar</button>
</a> --}}