<div class="d-flex justify-content-around">    
        <span class="display-5 text-primary">Bienvenido {{usuario}} por {{contador}} vez</span>
        <a href="/logout" class="float-right"><button class="btn btn-warning">Desloguear</button></a>    
    </div>